#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        // ドングルはホスト役なので入力デバイスなし
        default_layer {
            bindings = < >;
        };
    };
};
